* {
    margin: auto;
}

#gameArea {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.standingsElement {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50vh;
}

.season {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid black;
}

#circuitElement {
    width: 99%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.circuitResult {
    width: 10%;
}

.teamStandings {
    width: 50%;
}

.teamContainer {
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.teamStandings h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
}

.standings {
    width: 50%;
}

.standings h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
}

.driverContainer {
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.driverContainer p {
    text-align: center;
    width: 50%;
}

.FIRST {
    color: gold;
    text-decoration: underline;
    
}

.SECOND {
    color: silver;
    text-decoration: underline;
}

.THIRD {
    color: chocolate;
    text-decoration: underline;
}

.POINTS {
    color: green;
    text-decoration: underline;
}

.previousChampion {
    font-weight: bolder;
}